# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
root = true

# All files
[*]
indent_style = space
file_header_template = <copyright file="{fileName}"> \nCopyright (c) 2022 All Rights Reserved \n<author>Swaraj P P</author> \n</copyright>

# Xml files
[*.xml]
indent_size = 2
